@import "~assets/scss/helpers/variables";

:host {

    .dialog-content {
        display: flex;
        flex-wrap: wrap;

        .project-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .project-info {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            padding: 1.5rem;
            width: 45%;

            button {
                background: none;
                border: 0;
                margin-left: auto;
    
                &:focus {
                    outline: none;
                }
            }

            h1 {
                font-family: $main-font;
                font-size: 2rem;
                font-weight: 700;
            }

            p {
                color: $dark-color;
                font-size: 1rem;
                line-height: 1.75rem;
            }

            img {
                margin: 1.5rem 0;
                max-width: 132px;
            }

            h2 {
                font-family: $main-font;
                font-size: 1.5rem;
                font-weight: 700;
            }

            .collaborate-list {
                list-style: none;
                padding-left: 1rem;

                li {
                    align-items: center;
                    display: flex;

                    i {
                        color: $highlight-color;
                        margin-right: .5rem;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: $screen-big ) {
    :host {
        .dialog-content {

            .project-info {
                width: 43%;
            }
        }
    }
}

@media screen and ( max-width: $screen-medium ) {
    :host {
        
        .dialog-content {

            .project-image {
                order: 2;
                width: 100%;
            }

            .project-info {
                width: 100%;
            }
        }
    }
}