@import "~assets/scss/helpers/variables";

:host {

    .dialog-head {
        display: flex;
        margin-bottom: 2rem;

        h1 {
            margin: 0;
        }

        button {
            background: none;
            border: 0;
            margin-left: auto;

            &:focus {
                outline: none;
            }
        }
    }

    .dialog-content {
        display: flex;
        flex-wrap: wrap;

        .project-image {
            width: 50%;

            img {
                width: 100%;
            }
        }

        .project-info {
            width: 50%;
        }
    }
}

@media screen and ( max-width: $screen-medium ) {
    :host {
        
        .dialog-content {

            .project-image {
                width: 100%;
            }

            .project-info {
                width: 100%;
            }
        }
    }
}