<div class="about">
    <div class="about-me-picture">
        <div class="picture">
            <img src="assets/images/daniela-cortes.png" alt="Daniela Cortés">
        </div>
    </div>
    <div class="about-me-info">
        <h2>About me</h2>
        <h3 class="job-title">{{ aboutInfo?.position }}</h3>
        <p class="resume">{{ aboutInfo?.aboutMe }}</p>
        <a href="assets/images/cv-daniela-frontend.pdf" target="_link" class="btn main icon-right">
            Get my resume
            <img src="assets/images/icon-download.svg" alt="icon-download">
        </a>
    </div>
</div>