<div class="about">
    <div class="about-me-picture">
        <div class="picture">
            <img src="assets/images/daniela-cortes.png" alt="Daniela Cortés">
        </div>
    </div>
    <div class="about-me-info">
        <h2>About me</h2>
        <h3 class="job-title">{{ aboutInfo?.position }}</h3>
        <p class="resume">{{ aboutInfo?.aboutMe }}</p>
        <a href="assets/images/cv-daniela-frontend.pdf" target="_link" class="btn main">Get my resume</a>
    </div>
</div>

<div class="about-me">
    <div class="skills">
        <h2 class="job-title">Habilidades Técnicas</h2>
        <ul>
            <li *ngFor="let skill of technicalSkills"> {{ skill.name }} </li>
        </ul>
    </div>
</div>