@import "~assets/scss/helpers/variables";

:host {

    .about {
        display: flex;
        height: 100%;
        margin: 0 auto;
        margin-top: -6rem;
        max-width: 1280px;
        padding: 3rem 2rem;
        position: relative;

        .about-me-picture {
            width: 34%;

            .picture {
                background: rgb(142,34,195);
                background: linear-gradient(180deg, $main-color 0%, $sec-color 100%);
                max-height: 577px;

                img {
                    margin-left: 1.5rem;
                    margin-top: 1.5rem;
                    width: 100%;
                }
            }
        }

        .about-me-info {
            padding: 7rem 0 0 14%;
            width: 50%;

            h2 {
                color: $dark-color;
                font-family: $main-font;
                font-size: 4.25rem;
            }

            .job-title {
                color: $main-color;
                font-family: $text-font;
                font-size: 1.05rem;
                font-weight: normal;
                line-height: 1.5rem;
                margin-bottom: 2rem;
                max-width: 205px;
                text-transform: uppercase;
            }

            .resume {
                line-height: 1.7rem;
                margin-bottom: 3rem;
            }
        }
    }
}

@media screen and ( max-width: $screen-medium ) {
    :host {
        .about {
            flex-wrap: wrap;
            justify-content: center;
    
            .about-me-picture {
                width: 50%;
            }
    
            .about-me-info {
                padding: 2rem 0;
                width: 100%;

                h2 {
                    font-size: 3rem;
                }
            }
        }
    }
}

@media screen and ( max-width: $screen-small ) {
    :host {

        .about {

            .about-me-picture {
                width: 70%;
            }

            .about-me-info {

                h2 {
                    font-size: 2.5rem;
                }

                .btn.main {
                    width: 74%;
                }
            }
        }
    }
}
