@import "~assets/scss/helpers/variables";

:host {

    .my-portfolio {
        background: whitesmoke;
        height: 100%;
        text-align: center;
        padding-top: 50px;

        h2 {
            margin: 0;
            font-family: $main-font;
            font-size: 4.5rem;
            font-weight: normal;
        }
    }
}