<div class="my-portfolio">
    <h2>
        Checkout my work
        <img src="assets/images/decoration-zig.png" alt="">
    </h2>

    <div class="projects-list">
        <a class="project" *ngFor="let project of projects" href="javascript:void(0);" (click)="showProjectDetail(project)">
            <div class="thumb">
                <img src="{{project.image}}" alt="">
            </div>
            <h4>{{ project.name }}</h4>
            <div class="tags">
                <p *ngFor="let tag of project.tags">{{ tag }},</p>
            </div>
        </a>
    </div>

    <div class="other-projects">
        <h4>Do you want to know what else I'm working on?</h4>
        <a class="btn secondary icon-right" href="https://dribbble.com/danycortes" target="_blank">
            Checkout my Dribbble
            <img src="assets/images/icon-dribbble.svg" alt="icon-dribbble">
        </a>
    </div>
</div>