@import "~assets/scss/helpers/variables";

:host {

    .my-portfolio {
        //background: whitesmoke;
        margin: 0 auto;
        margin-top: 6rem;
        max-width: 1024px;
        position: relative;

        h2 {
            margin: 0;
            margin-bottom: 3rem;
            font-family: $highlight-font;
            font-size: 4.5rem;
            font-weight: normal;
        }

        .projects-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .project {
                display: inline-block;
                text-align: center;
                width: 46%;
                
                .thumb {
                    margin-bottom: -3px;
                    overflow: hidden;
                }

                img {
                    margin-bottom: -4px;
                    transition: all 1s ease;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }
            }
        }
    }
}