@import "~assets/scss/helpers/variables";

:host {

    .my-portfolio {
        margin: 0 auto;
        margin-top: 8rem;
        max-width: 1280px;
        position: relative;

        h2 {
            margin: 0;
            margin-bottom: 3.5rem;
            font-family: $main-font;
            font-size: 4.25rem;
            font-weight: 700;
        }

        .projects-list {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;

            .project {
                display: inline-block;
                font-size: 1.25rem;
                margin-bottom: 3.75rem;
                text-align: center;
                text-decoration: none;
                width: 44%;
                
                .thumb {
                    margin-bottom: -3px;
                    overflow: hidden;
                }

                img {
                    margin-bottom: -4px;
                    transition: all 1s ease;
                    width: 100%;
                }

                &:hover {
                    img {
                        transform: scale(1.1);
                    }
                }

                h4 {
                    color: $dark-color;
                    font-family: $main-font;
                    margin-bottom: .5rem;
                }

                .tags {
                    color: $gray-color;
                    display: flex;
                    justify-content: center;

                    p {
                        font-size: 1rem;
                        margin: 0 .25rem 0 .25rem;
                    }
                }
            }
        }
    }
}

@media screen and ( max-width: $screen-medium ) {
    :host {
        
        .my-portfolio {
            margin-top: 3rem;

            h2 {
                text-align: center;
            }

            .projects-list {
                justify-content: center;

                .project {
                    width: 100%;
                }
            }
        }
    }
}

@media screen and ( max-width: $screen-small ) {
    :host {

        .my-portfolio {

            h2 {
                font-size: 3.5rem;
            }
        }
    }
}