@font-face {
    font-family: 'brayden';
    src: url('assets/fonts/brayden/brayden_script_regular-webfont.eot');
    src: url('assets/fonts/brayden/brayden_script_regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('assets/fonts/brayden/brayden_script_regular-webfont.woff2') format('woff2'),
         url('assets/fonts/brayden/brayden_script_regular-webfont.woff') format('woff'),
         url('assets/fonts/brayden/brayden_script_regular-webfont.ttf') format('truetype'),
         url('assets/fonts/brayden/brayden_script_regular-webfont.svg#brayden_scriptregular') format('svg');
    font-weight: normal;
    font-style: normal;
}