@import "~assets/scss/helpers/variables";

:host {

    .hero-image {
        align-items: center;
        background: url('/assets/images/star-background.png') no-repeat;
        background-size: cover;
        display: flex;
        flex-direction: column;
        height: 100%;
        position: relative;
        width: 100%;

        header {
            display: flex;
            padding: 2rem;
            width: 90%;
        }

        .message {

            h2 {
                color: white;
                font-family: $main-font;
                font-size: 4.5rem;
                font-weight: 700;
                line-height: 5rem;
                margin: 3rem 0 1.5rem -15%;
                max-width: 225px;
                text-align: right;
            }
        }

        .btn {

            &.nav {
                margin-left: auto;
            }

            &.scroll-down {
                margin-bottom: 25px;
                margin-top: 5rem;
            }
        }
    }
}

@media screen and ( max-width: $screen-medium ) {
    :host {

        .hero-image {

            header {
                padding: 2rem 0;
            }
        }
    }
}