<h2>Login!</h2>

<form [formGroup]="loginForm" >
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" name="email" formControlName="email">
        <div *ngIf="getRequiredError('email')">Se requiere email</div>
        <div *ngIf="getEmailError()">Email inválido</div>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
        <div *ngIf="getRequiredError('password')">Se requiere password</div>
    </div>
    <button [disabled]="loginForm.invalid">Login</button>
</form>