<h2>Login!</h2>

<form [formGroup]="loginForm" >
    <div class="form-group">
        <label for="name">Email</label>
        <input type="email" name="email" formControlName="email">
    </div>
    <span>{{ getError('email')}}</span>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" name="password" formControlName="password">
    </div>
    <span>{{ getError('password')}}</span>
    <button [disabled]="loginForm.invalid">Login</button>
</form>