<div class="login-section">
    <div class="login-card">
        <h2>Ingresa a tu cuenta</h2>
        <form [formGroup]="loginForm" >
            <div *ngIf="loginErrorMessage" class="alert error">{{ loginErrorMessage }}</div>
            <div class="form-group">
                <label for="name">Email</label>
                <input type="email" name="email" formControlName="email">
                <div *ngIf="getRequiredError('email')" class="alert error">Se requiere email</div>
                <div *ngIf="getEmailError()" class="alert error">Email inválido</div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" formControlName="password">
                <div *ngIf="getRequiredError('password')" class="alert error">Se requiere password</div>
            </div>
            <button type="submit" [disabled]="loginForm.invalid" (click)="onLogin(loginForm.value)" class="btn main">Login</button>
        </form>
    </div>
</div>