.btn {
    display: inline-block;

    &.scroll-down {
        background: url('assets/images/icon-down.png');
        height: 16px;
        width: 28px;
        text-indent: -9999999px;
    }

    &.scroll-down-secondary {
        @extend .scroll-down;
        background: url('assets/images/icon-down-black.png');
    }

    &.main {
        background: $main-color;
        border-radius: 20px;
        color: black;
        font-size: .85rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
    }
}

button {
    cursor: pointer;
}