.btn {
    background: transparent;
    border: 0;
    display: inline-block;
    @include transition(0.4s);

    &.nav {
        color: white;

        i {
            font-size: 2rem;
        }
    }

    &.scroll-down {
        color: $main-color;

        i {
            font-size: 2rem;
        }
    }

    &.scroll-down-secondary {
        @extend .scroll-down;
        color: $sec-color;
    }

    &.main {
        border: 1px solid $sec-color;
        color: $sec-color;
        font-size: .85rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 1rem 2rem;

        &:hover {
            background: $sec-color;
            color: white;
            @include transition(0.4s);
        }
    }
}

button {
    cursor: pointer;
}