.btn {
    background: transparent;
    border: 0;
    display: inline-block;

    &.nav {
        color: white;

        i {
            font-size: 2rem;
        }
    }

    &.scroll-down {
        color: $main-color;

        i {
            font-size: 2rem;
        }
    }

    &.scroll-down-secondary {
        @extend .scroll-down;
        color: $sec-color;
    }

    &.main {
        background: $main-color;
        border-radius: 20px;
        color: black;
        font-size: .85rem;
        text-decoration: none;
        text-transform: uppercase;
        padding: 10px 20px;
    }
}

button {
    cursor: pointer;
}