.form-group {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 1rem;
}

label {
    margin-bottom: .5rem;
}

input[type="email"], input[type="password"] {
    background: white;
    border: 2px solid lighten( $dark-color, 45% );
    border-radius: .2rem;
    font-family: $text-font;
    font-size: 1rem;
    height: 44px;
    padding: 0 .5rem;
}
