<div class="hero-image">
    <header>
        <h1 class="logo">
            <a routerLink="/home">{{ aboutInfo?.name }}</a>
        </h1>
        <button class="btn nav">
            <i class="material-icons">menu</i>
        </button>
    </header>

    <div class="message">
        <h2>I Make Great Stuff</h2>
        <img src="assets/images/decoration-zig.png" alt="decoration-zig-zag">
    </div>

    <a href="javascript:void(0)" class="btn scroll-down" (click)="onScroll('about')">
        <i class="material-icons">arrow_downward</i>
    </a>
</div>