<cover-component
    [aboutInfo]="aboutInfo"
    (scrollDown)=scrollTo($event)>
</cover-component>


<section #about>
    <about-component
        [aboutInfo]="aboutInfo"
        [technicalSkills]="technicalSkills"
        (scrollDown)="scrollTo($event)">
    </about-component>
</section>

<section #portfolio>
    <portfolio-component
        [projects]="projects"
        (scrollDown)="scrollTo($event)">
    </portfolio-component>
</section>

<section #contact>
    <contact-component></contact-component>
</section>