<section class="cover">
    <h2 class="job-title"><b>{{ jobTitle }}</b></h2>
    <h1 class="logo">Daniela Muñoz</h1>
    <a href="javascript:void(0)" class="btn scroll" (click)="scrollTo('about')">Bajar</a>
</section>

<section #about>
    ¿Quién soy?
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent auctor viverra ex, at tristique ex varius ac. Sed a commodo justo. Nulla vehicula finibus malesuada. Nullam ut tristique sem. Mauris tortor mauris, ultricies eget viverra vitae, finibus nec elit. Sed non ante vehicula, viverra nunc eget, blandit elit. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nulla aliquam risus et est ullamcorper, et faucibus massa vestibulum. In semper nunc magna, vitae auctor felis dictum et. Fusce placerat sem consectetur, convallis ante a, facilisis enim.</p>
</section>