@import "~assets/scss/helpers/variables";

:host {

    .section-contact {
        background: url('/assets/images/star-background.png') no-repeat;
        background-size: cover;
        color: white;
        margin-top: 5rem;
        padding: 7rem 0;

        .contact {
            margin: 0 auto;
            max-width: 1024px;
        }

        h2 {
            font-family: $highlight-font;
            font-size: 3rem;
            margin: 0;
            margin-bottom: 3rem;
        }

        p {
            width: 50%;
        }

        a {
            color: white;
        }
    }
}