<div class="section-contact">
    <div class="contact">
        <h2>Let's get in touch</h2>
        <p>If you want to talk about any particular project don’t hesitate to contact me, I’m currently available for freelance work.</p>
        <a href="mailto:daniela.munozc@gmail.com" class="link light">daniela.munozc@gmail.com</a>

        <ul class="social-media">
            <li *ngFor="let social of networking">
                <a href="{{social.link}}" target="_blank" class="social {{social.name}}">{{ social.label }}</a>
            </li>
        </ul>
        <h4 class="logo">Daniela Cortés</h4>
        <p class="made-with-love">Made with ♥ and coffee in Mexico City</p>
    </div>
</div>