/* Colors */
$main-color: #B150F7;
$sec-color: #F39E62;
$dark-color: #40403F;
$gray-color: #868585;
$light-color: #C2C2C2;
$highlight-color: #E76BFF;


/* Fonts */
$text-font: 'rubik', Helvetica, Arial;
$main-font: 'Montserrat', sans-serif;

/* Margins */
$margin: 10px;

/* Resolutions */
$screen-big: 1280px;
$screen-medium: 768px;
$screen-small: 460px;