/* Colors */
$main-color: #FD2DE7;
$sec-color: #8E22C3;
$dark-color: #40403F;
$light-color: #C2C2C2;


/* Fonts */
$text-font: 'rubik', Helvetica, Arial;
$highlight-font: 'bell', 'Times New Roman', Times, serif;

/* Margins */
$margin: 10px;

/* Resolutions */
$screen-medium: 768px;
$screen-small: 460px;